#catalogoFilm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    margin-left:10px;
}

.azione{
  background-color: brown;
  color:white;
}

.fantasy{
  background-color: green;
  color:white;
}

.fantascientifico{
  background-color: red;
  color:white;
}

header, footer{
  text-align: center;
}

#aFilms{
  width: fit-content;
  margin: 0px auto;
  margin-top:20px;
  margin-bottom: 10px;
  padding: 2px;
  display: block;
  background-color: blue;
  border-radius: 10px;
  border:2px solid black;
}
